* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  background-color: #000411;
  color: #fefae0;
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  padding: 0;
}

section {
  height: 100vh;
  margin: auto 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro {
  font-size: 2.3rem;
}

.progress-header {
  margin: 0;
}

.progress {
  height: 3px;
  margin-bottom: 10px;
}

.progress-bar {
  background-color: #ff6663;
}

.polygon-container {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.polygon-row:nth-Child(even) {
  margin-top: -15px;
}

.polygon-row:nth-Child(odd) {
  margin-top: -15px;
}

.polygon {
  display: inline-block;
  width: 50px;
  height: 50px;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
          clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background-color: #160c28;
}

.polygon:hover {
  background-color: #fff;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transition: .7s;
  transition: .7s;
}

#projects {
  margin: 0;
}

#projects .projects-intro .header {
  margin: 15px 25px;
}

.projects-group-container {
  width: 100vw;
  background-color: #160c28;
  padding: 10px;
}

.project-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project {
  background-color: #c4c4c4;
  width: 160px;
  height: 90px;
  border-radius: 5px;
  -webkit-box-shadow: 6px 6px #160c28, 10px 10px #c4c4c4;
          box-shadow: 6px 6px #160c28, 10px 10px #c4c4c4;
}

.project-container:nth-Child(even) {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 30px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.project-container:nth-Child(odd) {
  margin-left: 30px;
  margin-top: 15px;
  margin-bottom: 20px;
}

#contacts {
  margin: 0;
}

#contacts .contacts-intro .header {
  margin: 15px 25px;
}

.contacts-container {
  width: 100vw;
  background-color: #160c28;
  padding: 10px;
}

.contact-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-profile {
  width: 50%;
  border-radius: 5px;
  -webkit-box-shadow: 7px 7px #160c28, 12px 12px #ff6663;
          box-shadow: 7px 7px #160c28, 12px 12px #ff6663;
}

.contact-word {
  text-align: center;
  font-style: italic;
  margin: 20px auto;
}

.polygon-container {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.polygon-contact-row:last-child {
  margin-top: -20px;
}

.polygon-contact {
  display: inline-block;
  width: 80px;
  height: 80px;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
          clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background-color: #ff6663;
}

.polygon:hover {
  background-color: #fff;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transition: .7s;
  transition: .7s;
}
/*# sourceMappingURL=main.css.map */