*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #000411;
}

section {
    color: #fefae0;
    margin: auto 25px;
}

#home {
    height: 100vh;
    display: flex;
    align-items: center;

    .intro {
        font-size: 2.3rem;
    }
}


#word {
    height: 100vh;
    display: flex;
    align-items: center;

    .motivation {
        text-align: center;
        font-style: italic;
    }
}

#skill {
    height: 100vh;
    display: flex;
    align-items: center;

    .progress-header {
        margin: 0;
        font-style: italic;
    }

    .progress {
        height: 3px;
        margin-bottom: 10px;
    }

    .progress-bar {
        background-color: #ff6663;
    }
}

#projects {
    height: 100vh;
    width: 100%;
    margin: 0;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
        margin-top: 10px;
        height: 80vh;
        overflow: auto;
    }

    .project-container {
        margin: 10px auto;
        width: 85%;
        background-color: #160c28;
        border-radius: 5px;
        border: 2px solid #ff6663;
    }

    .project-desc {
        padding: 10px;
    }

    img {
        width: 100%;
    }
}

#contacts {
    height: 100vh;
    display: flex;
    align-items: center;

    a {
        color: #fefae0;
    }

    .contacts-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;

        .contact-image {
            display: flex;
            justify-content: center;

            .contact-profile {
                width: 60%;
                box-shadow: 7px 7px #000411, 12px 12px #ff6663;
            }
        }

        .contact-word {
            margin-top: 10px;
        }

        .polygon-contact-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .polygon-contact {
                display: inline-block;
                margin: 10px;
            }

            .polygon-contact-row:nth-last-child(1) {
                margin-top: -15px;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    #home {
        .intro {
            font-size: 5rem;
        }
    }

    #word {}

    #skill {}

    #projects {
        height: 100vh;

        .container {
            height: 400px;
        }

        .project-container {
            width: 70%;
            height: 70%;
        }

        .built {
            margin-top: 10px;
        }
    }

    #contacts {
        .contacts-container {
            display: grid;
            grid-template-columns: auto auto;

            .contact-btn {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
            }
        }
    }
}

@media only screen and (min-width: 1024px) {
    #home {
        .intro {
            font-size: 6.5rem;
        }
    }

    #word {
        .motivation {
            font-size: 3.5rem;
        }
    }

    #skill {
        .skill-intro {
            .header {
                font-size: 3.5rem;
            }

            font-size: 2rem;
        }

        .progress-header {
            font-size: 2rem;
        }
    }

    #projects {
        height: 100vh;

        .container {
            height: 500px;
            width: 90vw;
        }

        .project-container {
            width: 70%;
            height: 70%;
        }

        .project-desc {
            h1 {
                font-size: 3.5rem;
            }

            p {
                font-size: 2rem
            }

            .built {
                em {
                    font-size: 3rem
                }
            }

            ;
        }
    }

    #contacts {
        .contacts-container {
            margin-top: 15px;
            display: grid;
            grid-template-columns: auto auto;

            .contact-btn {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;

                h2 {
                    font-size: 2rem;
                }

                em {
                    font-size: 4.5rem;
                }
            }
        }
    }
}